{% extends "home.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<script>function validate(input) {
        if (/^\s/.test(input.value))
            input.value = '';

    }</script>

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" oninput="validate(this)"
            required="required" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" oninput="validate(this)" required="required"
            name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" oninput="validate(this)" required="required"
            name="confirmation" placeholder="Retype Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
{% endblock %}